@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arizona";
  src: url("../fonts/ABCArizonaFlare-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arizona";
  src: url("../fonts/ABCArizonaFlareUnlicensedTrial-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arizona";
  src: url("../fonts/ABCArizonaFlare-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NB Architekt";
  src: url("../fonts/NB.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
